:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    scroll-behavior: smooth !important;

}

.login {
    background-color: #4EAC6D !important;
    min-height: 100vh !important;

    .login-img {
        width: 400px !important;
        height: 600px !important;
        left: -100px !important;
        position: relative;

        img {
            height: 400px !important;
            width: 600px !important;

            bottom: 0px !important;

        }
    }
}


.btn-ctm {
    background-color: #4EAC6D !important;
}

.sidebar {
    min-height: 100vh;
    background-color: #2E2E2E !important;
    transition: all 0.3s ease-in-out;

    .sidebar-i {
        color: #c0bebe !important;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: #4EAC6D !important;
            transition: all 0.3s ease-in-out;

        }
    }

    .active {
        color: #4EAC6D !important;
        transition: all 0.3s ease-in-out;

    }

}
.dashboard {
    height: 100vh !important;
    overflow-y: hidden;
}
.dashboard-mobile {
    transition: all 0.3s ease-in-out;

    height: 100vh !important;
    overflow-y: scroll;
}

.sidebar-mobile {
    bottom: 0px !important;
    background-color: #2E2E2E !important;
    transition: all 0.3s ease-in-out;

    .sidebar-i {
        color: #c0bebe !important;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: #4EAC6D !important;
            transition: all 0.3s ease-in-out;

        }
    }

    .active {
        color: #4EAC6D !important;
        transition: all 0.3s ease-in-out;

    }

}

.chat-container {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari, Opera */
    }

    height: 100vh !important;
    position: relative;
    background-image: url(../images/chat-bg.png);
    overflow-y: scroll;
    background-color: #f2f2f2 !important;

    .navBar {
        min-height: 80px !important;
        position: absolute;
        background-color: #ffffff0d !important;
        backdrop-filter: blur(7px);
        border-bottom: 1px solid #eaeaf1;

        i {
            cursor: pointer;
        }
    }

    .messages-container {
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
            /* Chrome, Safari, Opera */
        }

        overflow-y: scroll;
        height: 90vh !important;
        padding-top: 80px !important;
        padding-bottom: -80px !important;

        .message-item {
            background-color: #fff !important;
            border-radius: 3px;
            box-shadow: 0 2px 4px #0f223a1f;
        }

        .time-message {
            font-size: 10px !important;
        }
    }

    .send-box {
        position: absolute;
        bottom: 10px;
        background-color: #ffffff0d !important;
        backdrop-filter: blur(7px);
        border-top: 1px solid #eaeaf1;

        i {
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: #4EAC6D !important;
                transition: all 0.3s ease-in-out;
            }
        }

        input {
            &:focus {
                outline: none;
            }
        }
    }
}

.chatList {

    position: relative;

    .chat-TopBar {
        transition: all 0.3s ease-in-out;
        height: 127px;
        position: absolute;
        background-color: #fff;
        z-index: 2;

        i {
            &:hover {
                color: #4EAC6D !important;
                transition: all 0.3s ease-in-out;
            }
        }

        input {
            &:focus {
                outline: none;
            }
        }
    }

    .direct-message-list {
        padding-top: 120px !important;
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
            /* Chrome, Safari, Opera */
        }

        max-height: 97vh;
        overflow-y: scroll;
    }

    .list-item {
        height: 70px !important;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background: #b8b7b726;
            transition: all 0.3s ease-in-out;
        }
    }
}

.contact-list {
    position: relative;

    .contact-TopBar {
        transition: all 0.3s ease-in-out;
        height: 127px;
        position: absolute;
        background-color: #fff;
        z-index: 2;

        i {
            &:hover {
                color: #4EAC6D !important;
                transition: all 0.3s ease-in-out;
            }
        }

        input {
            &:focus {
                outline: none;
            }
        }
    }

    .list-wrapper {
        padding-top: 120px !important;
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
            /* Chrome, Safari, Opera */
        }

        max-height: 97vh;
        overflow-y: scroll;
    }

    .list-item {
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background: #b8b7b726;
            transition: all 0.3s ease-in-out;
        }
    }
}

.profile {
    .topBar {
        height: 25vh !important;
        background-image: url(../images/profile-top-bg.jpg);
        i {
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            &:hover {
                color: #4EAC6D !important;
                transition: all 0.3s ease-in-out;
            }

        }
    }
    .profile-details{
        margin-top: -40px !important;
    }
}

.call-list{
    .topBar{
        height: 70px !important;
    }
    .call-list-wrapper{
        margin-top: 70px !important;
        max-height: 90vh !important;
        overflow-y: scroll;
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
            /* Chrome, Safari, Opera */
        }
    }
    .call-item {
        transition: all 0.3s ease-in-out;

        &:hover {
            background: #b8b7b726;
            transition: all 0.3s ease-in-out;
        }
    }
}