:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.login{
    background-color: #4EAC6D !important;
    min-height: 100vh !important;
    .login-img{
        width: 400px !important;
        height: 600px !important;
        left: -100px !important;
        position: relative;
        img{
            height: 400px !important;
            width: 600px !important;
            
            bottom: 0px !important;
            
        }
    }
}
.btn-ctm{
    background-color: #4EAC6D !important;
}

.sidebar{
    min-height: 100vh;
    background-color: #2E2E2E !important;
    i{
        color: #c0bebe !important;
        &:hover{
            color: #4EAC6D !important;
        }
    }
    // .profile-img{
    //     position: absolute;

    //     bottom: 20px !important;
    // }
}